#chat-field.item {
	height: 100%;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
}

#chat-field-head{
	height: 25px;
	//background-color: #300032;
	text-align: left;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color:  #c43235;
	letter-spacing: 1px;
	padding-top: 10px;
	//border-radius: 2px;
	padding-left: 30px;
	border-bottom-color:  #e6e6e8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

#chat-field-container{
	//background-color: #cccccc;
	height: 66%;
	margin-top: 17px;
	margin-bottom: 10px;
	border-style: solid;
	border-width: 3px;
	border-color: #e6e6e8;
	border-radius: 10px;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	overflow: scroll;
	background-color: #06000a;
	opacity: 0.7;

	.chat-text {
		display: inline-block;
		width: calc(100% - 12px);
		min-height: 24px;
		line-height: 24px;
		font-size: 18px;
		text-align: left;
		color: #2CF919;
		padding-left: 12px;
	}
}

#chat-here{
	height: 5%;
	margin-top: 6px;
	//border-style: solid;
	border-width: 1px;
	border-radius: 4px;

	input {
		display: block;
	  margin: 0;
	  width: 90%;
		font-family: Arial, Helvetica, sans-serif;
	  font-size: 18px;
		color: #c43235;
	  appearance: none;
	  box-shadow: none;
	  border-radius: none;
		padding: 10px;
	  border: solid 5px #e6e6e8;
		border-radius: 4px;
  	transition: border 0.3s;
		background: transparent;
	}

	input:focus,input.focus {
		outline: none;
  	border: solid 5px #c43235;
	}
}
