#chat-field.item {
	height: 100%;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
}

#chat-field-head{
	height: 25px;
	text-align: left;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color:  #c43235;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-left: 30px;
	border-bottom-color:  #FFFFFF;
	border-bottom-style: solid;
	border-bottom-width: 3px;
}

#chat-field-container{
	height: 66%;
	margin-top: 15px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: #FFFFFF;
	border-radius: 2px;
	overflow: scroll;
	background-color: #06000a;

	.chat-text {
		display: inline-block;
		width: calc(100% - 12px);
		min-height: 24px;
		line-height: 24px;
		font-size: 18px;
		text-align: left;
		color: #2CF919;
		padding-left: 12px;
	}
}::-webkit-scrollbar { 
    display: none; 
}

#chat-here{
	height: 50px;
	border-width: 1px;

	input {
	  width: calc(100% - 30px);
	  height: 20px;
		font-family: Arial, Helvetica, sans-serif;
	  font-size: 18px;
		color: #c43235;
	  box-shadow: none;
	  border-radius: none;
		padding: 10px;
	  border: solid 3px #FFFFFF;
	  border-radius: 2px;
  	transition: border 0.3s;
		background: transparent;
	}

	input:focus,input.focus {
		outline: none;
  	border: solid 5px #c43235;
	}
}
