html {
  background-color: #000000;
}
#back{
  background-image: url('../../styles/blood.jpg');
}

#header {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  height: 80px;
  margin-bottom: 0px;
  background-color: #06000a;
  position: relative;

  .constianer{
    display: inline-block;
    width: 300px;
    height: 80px;
    content: url('MAFIA_logo.jpg');
    background-size: cover;
  }

  #timer{
    //position: relative;
    float: right;
    display: inline-block;
    padding-right: 40px;
    padding-top: 50px;
    //width: 1200px;
    //text-align: right;
    color: yellow;
    font-size: 20px;
  }
}

#main-view {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  min-height: 700px;
  padding-top: 5px;

  .item {
    padding: 12px 20px 12px;
  }

  #main-disable {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 100;
    text-align: center;
    .dead-image {
      margin-top: 240px;
      content: url('../images/skull.png');
    }
    .vot-image {
      margin-top: 240px;
      content: url('../images/vot.png');
      background-color: #FFFFFF;
      opacity: 0.6;
    }
    .dead-text {
      height: 36px;
      color: #FFFFFF;
      display: block;
      font-size: 36px;
    }
  }

  #player-list {
    width: 20%;
    height: 670px;
    z-index: 1;
    padding-left: 22px;
  }

  #chat-field {
    /*//-webkit-flex: auto;*/
    width: 50%;
    height: 700px;
    margin-left: 20px;
    z-index: 1;
    /*//margin-right: 20px;*/
  }

  #background{
    margin-left: 0px;
    width: 200px;
    height: 700px;
  }

  #votting-field {
    padding-top: 66px;
    width: 30%;
    height: 700px;
    margin-right: 22px;
    z-index: 1;
  }

}
