#player-list-head {
	height: 25px;
	//background-color: white;
	border-color: #e6e6e8;
	border-bottom-style: solid;
	border-width: 1px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	color:  #c43235;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-right: 5px;
	margin-left: 5px;
	//padding-right: 10px;
	//border-radius: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;

	#mafia{
		height: 60px;
		display: inline-block;
	}

	p{
		margin: 0;
		display: inline-block;
	}
}

#player-list-container {
	//background-color: #4d3120;
	height: 80%;
	margin-top: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: #e6e6e8;
	text-align: center;
	padding-right: 10px;
	border-radius: 10px;
	background-color: #06000a;
	opacity: 0.7;
}

.players {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
	color:  #e6e6e8;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.playertxt{
	vertical-align: middle;
}

.players li {
  //cursor: pointer;
  position: relative;
  left: 0;
  //background-color: #300032;
	//border-style: solid;
	border-width: 1px;
	border-color: white;
  margin: 1em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.players li:hover {
	background-color:#56242a;
}

.players li img{
	width: 60px;
	height: 60px;
}

.players .text {
  position: relative;
  top: -3px;
}
