#ready-field {
	height: 46px;
	text-align: center;
}

.button {
	position: relative;
	background-color:#636767;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	border-radius:16px;
	border:1px solid #828585;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 31px;
	text-decoration:none;
	text-shadow:2px 2px 0px #0d2908;
	width: 45%;
}

.button:hover {
	background-color:#56242a;
}
.button:active {
	background-color:#56242a;
	position:relative;
	top:1px;
}

#voting-list{
	margin-top: 9px;
}

.dropdown {
    position: relative;
    display: block;
		text-align: center;
}

.dropdowna {
    position: relative;
    display: block;
		text-align: center;
}

.dropbtn {
    background-color:#4c4034;
    color: red;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
		width: 100%;
		margin-bottom: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
		width:100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #6f665c;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #5d5348;
}

.mafia-chat{
	vertical-align: middle;
	margin-top: 28%;
	height: 50%;
}

#mafia-field-head{
	//background-color: #4d3120;
	text-align: left;
	vertical-align: middle;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 2px;
	padding-left: 30px;
}

#mafia-field-container{
	background-color: #cccccc;
	height: 65%;
	margin-top: 6px;
	border-style: solid;
	border-width: 3px;
	border-color: #e6e6e8;
	border-radius: 4px;
	text-align: center;
	padding-top: 1%;
	overflow: scroll;
	background-color: #06000a;
	opacity: 0.7;


	.chat-text {
		display: inline-block;
		width: calc(100% - 8px);
		min-height: 24px;
		line-height: 24px;
		font-size: 18px;
		text-align: left;
		text-align: left;
		color: #2CF919;
		padding-left: 8px;
	}
}

#mafia-here{
	height: 5%;
	margin-top: 6px;
	//border-style: solid;
	border-width: 1px;
	border-radius: 4px;

	input {
		display: block;
	  margin: 0;
	  width: 90%;
		font-family: Helvetica, sans-serif;
	  font-size: 18px;
		color: #c43235;
	  appearance: none;
	  box-shadow: none;
	  border-radius: none;
		padding: 10px;
	  border: solid 5px #e6e6e8;
		border-radius: 4px;
  	transition: border 0.3s;
		background: transparent;
	}

	input:focus,input.focus {
		outline: none;
  	border: solid 5px #c43235;
	}
}
