<div id="ready-field">
  <button id="ready" class="button" ng-click="ready()">READY</button>
  <button id="start" class="button" ng-click="start()">START</button>
</div>
<div id="voting-list">
  <select id="repeatSelect" ng-model="data.selected">
    <option value="">GENERAL VOTE</option>
    <option ng-repeat="general in dayVotingList" value="{{general}}"  >{{general}}</option>
  </select>

  <div class="dropdown">
    <button class="dropbtn">MAFIA VOTE</button>
      <div class="dropdown-content">
        <a ng-repeat="mafia in nightVotingList" ng-bind="mafia" ng-click="clickMafia(mafia)"></a>
      </div>
  </div>
</div>
<div class="mafia-chat">
  <div class="mafia-chat-disable" ng-show="job !== 'mafia'">Only for Mafia!</div>
  <div id="mafia-field-head">
    Mafia Chat [Credential!]
  </div>
  <div id="mafia-field-container">
    <span class="chat-text" ng-repeat="chat in mafiachatting track by $index">{{chat}}</span>
  </div>
  <div id="mafia-here">
    <input type="text" ng-model="data.text" ng-keypress="messageSend($event)">
  </div>
</div>
