<div id="ready-field">
  <button class="button">Ready</button>
  <button class="button">Start</button>
</div>
<div id="voting-list">
  <div class="dropdown" id="general">
    <button class="dropbtn">General Voting</button>
      <div class="dropdown-content" id="general">
        <a href="#">Player1</a>
        <a href="#">Player2</a>
        <a href="#">Player3</a>
      </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Mafia Voting</button>
      <div class="dropdown-content">
        <a href="#">Player1</a>
        <a href="#">Player2</a>
        <a href="#">Player3</a>
      </div>
  </div>
</div>
<div class="mafia-chat">
  <div id="mafia-field-head">
    Mafia Chat [Credential!]
  </div>
  <div id="mafia-field-container">
    chat container
  </div>
  <div id="mafia-here">
    chat here>
  </div>
</div>
